<header>
    <a href="/"><img class="logo" src="./image/logo.png" alt="spatify-logo" /></a>
</header>
<div class="nav">
    <a href="/services" class="nav-col" id="services">
        <p class="main-button">search for SERVICES</p>
    </a>
    <a href="/deals" class="nav-col" id="deals">
        <p class="main-button">CURRENT DEALS</p>

    </a>
</div>

<!-- search results appears in grid of 3 columns -->
<div class="search-result">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src='https://s3-media3.fl.yelpcdn.com/bphoto/4j4p05JdNvtlh7BGrxTIPg/ls.jpg'>
                    <span class="card-title">
                        <h5>Ezza Salon</h5>
                    </span>
                </div>
                <div class="card-content">
                    <p>Nails - 20% off</p>
                </div>
                <div class="card-action">
                    <a href="">RESERVE</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src='https://s3-media4.fl.yelpcdn.com/bphoto/4oOzPqKcXTyKSdd1-_elWQ/ls.jpg'>
                    <span class="card-title">
                        <h5>AIRE Ancient Baths</h5>
                    </span>
                </div>
                <div class="card-content">
                    <p>$20 off your spa treatment</p>
                </div>
                <div class="card-action">
                    <a href="">RESERVE</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src='https://s3-media4.fl.yelpcdn.com/bphoto/FsRz8ATwn6rkGoqs0pbx7g/ls.jpg'>
                    <span class="card-title">
                        <h5>SkinQ</h5>
                    </span>
                </div>
                <div class="card-content">
                    <p>First time clients receive a special gift!</p>
                </div>
                <div class="card-action">
                    <a href="">RESERVE</a>
                </div>
            </div>
        </div>
    </div>
</div>