<header>
    <a href="/"><img class="logo" src="./image/logo.png" alt="spatify-logo" /></a>
</header>
<div class="nav">
    <a href="/services" class="nav-col" id="services">
        <p>search for SERVICES</p>
    </a>
    <a href="/deals" class="nav-col" id="deals">
        <p>CURRENT DEALS</p>

    </a>
</div>

<!-- search results appears in grid of 3 columns -->
<div class="search-result">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4">
                <div id="append-here">
                </div>
            </div>
        </div>
    </div>
</div>