<header>
    <img class="logo" href="/" src="./image/logo.png" alt="spatify-logo" />
</header>

<!-- print spa/salon
from services/deals page, user chooses a card
that card triggers a unique get route based on /:id
which queries "SELECT name, dates, times FROM salons WHERE id=${req.body.id}"
append name to #spa-name, use flatpickr package to import available dates -->
<div class="container">
    <div class="form-style">
        {{!-- Name needs to come from some AJAX call or something but for now I'm just calling a placeholder from the db --}}
        <div id="spa-name">You chose: {{ name }}</div>
        <div class="row">
            <div class="input-field col s6">
                Your Name:
                <input id="full_name" type="text" class="validate" />
                <!-- <label for="full-name">Full Name</label> -->
            </div>
            <div class="input-field col s6">
                Date:
                <input type="text" id="user_date" class="datepicker" />
                <!-- <label for="date">Date</label> -->
            </div>
        </div>
        <div class="row">
            {{#each appointment-time}}
            {{!-- make a button dynamically --}}
            {{/each}}

            <button class="time" id="time1">10:00</button>
            <button class="time" id="time2">11:00</button>
            <button class="time" id="time3">12:00</button>
            <button class="time" id="time4">13:00</button>
            <button class="time" id="time5">14:00</button>
            <button class="time" id="time6">15:00</button>
            <button class="time" id="time7">16:00</button>
            <button class="time" id="time8">17:00</button>
        </div>

        <form action="/" method="POST">
            <!-- <textarea type="text" name="???"></textarea> -->
            Email:
            <input type="text" id="email" />
        </form>
        <br />

        <button class="submit" type="submit" id="formSubmit">Submit</button>
    </div>
</div>