{{!-- Header with logo img --}}

<header>
    <img class="logo">
</header>

{{!-- print spa/salon --}}

<div id="spa-name">You chose: {{this.???}}</div>
<div id="spa-name" type="input">Stylist: {{this.???}}</div>
{{!-- https://flatpickr.js.org/getting-started/ date-time selector package --}}

<div class="time-result">
    <div class="row">
        {{#each time??}}
        <div class="col-4"></div>
        {{/each}}
    </div>
</div>

<form action="/" method="POST">
    <textarea type="text" name="???"></textarea>

    <button type="submit">Submit</button>
</form>