<header>
    <a href="/"><img class="logo" src="./image/logo.png" alt="spatify-logo" /></a>
</header>
<div class="nav">
    <a href="/services" class="nav-col" id="services">
        <p class="main-button">search for SERVICES</p>
    </a>
    <a href="/deals" class="nav-col" id="deals">
        <p class="main-button">CURRENT DEALS</p>

    </a>
</div>

<div class="row container">
    <!-- !-- centered -- -->
    <!-- <div class="row">
        <p id="about">about</p>
      </div> -->
    <!-- {{!-- three columns --}} -->
    <!-- {{!-- title of column 1 --}} -->
    <div class="row about">
        <div class="col s12 m6 l4">
            <div class="col-content">
                <h5>About The App</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod,
                    odio nihil rem sapiente recusandae odit! Debitis magnam
                    perspiciatis dolores dolorem magni? Facere culpa pariatur cum
                    ratione accusantium, est iure magnam.
                </p>
            </div>
        </div>
        <!-- {{!-- title of column 2 --}} -->
        <div class="col s12 m6 l4">
            <div class="col-content">
                <h5>Us</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum ea
                    facilis exercitationem odit laboriosam distinctio, iusto ex
                    similique harum nam aut vitae atque explicabo ducimus sequi totam
                    quam hic? Ipsa.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="col-content">
                <h5>How to Use</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum ea
                    facilis exercitationem odit laboriosam distinctio, iusto ex
                    similique harum nam aut vitae atque explicabo ducimus sequi totam
                    quam hic? Ipsa.
                </p>
            </div>
        </div>
    </div>
</div>