<header>
    <img class="logo" src="./image/logo-04.svg" alt="spatify-logo" />
</header>
<!-- <div class="nav"> -->
<a href="/services" class="nav-col" id="services">
    <p>search for</p>
    <p id="big">SERVICES</p>
</a>
<a href="/services" class="nav-col" id="deals">
    <p id="deals-text">CURRENT DEALS</p>

</a>
<!-- </div> -->

<div class="container about-container">
    <!-- !-- centered -- -->

    <h4>About</h4>
    <!-- {{!-- three columns --}} -->
    <!-- {{!-- title of column 1 --}} -->
    <div class="row">
        <div class="col s12 m6 l4">
            <h5>The App</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, odio
                nihil rem sapiente recusandae odit! Debitis magnam perspiciatis
                dolores dolorem magni? Facere culpa pariatur cum ratione
                accusantium, est iure magnam.
            </p>
        </div>
        <!-- {{!-- title of column 2 --}} -->
        <div class="col s12 m6 l4">
            <h5>Us</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum ea
                facilis exercitationem odit laboriosam distinctio, iusto ex
                similique harum nam aut vitae atque explicabo ducimus sequi totam
                quam hic? Ipsa.
            </p>
        </div>
        <div class="col s12 m6 l4">
            <h5>How to Use</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum ea
                facilis exercitationem odit laboriosam distinctio, iusto ex
                similique harum nam aut vitae atque explicabo ducimus sequi totam
                quam hic? Ipsa.
            </p>
        </div>
    </div>
</div>