<header>
    <a href="/"><img class="logo" src="./image/logo.png" alt="spatify-logo" /></a>
</header>
<div class="nav">
    <a href="/services" class="nav-col" id="services">
        <p class="main-button">search for SERVICES</p>
    </a>
    <a href="/deals" class="nav-col" id="deals">
        <p class="main-button">CURRENT DEALS</p>

    </a>
</div>

<div class="row container">
    <!-- !-- centered -- -->
    <!-- <div class="row">
        <p id="about">about</p>
      </div> -->
    <!-- {{!-- three columns --}} -->
    <!-- {{!-- title of column 1 --}} -->
    <div class="row about">
        <div class="col s12 m6 l4">
            <div class="col-content">
                <h5>About The App</h5>
                <p>
                    Get pampered on your schedule with Spatify! We’re focused on delivering quality spa experiences to
                    you at great prices. Looking for a new ‘do or a fresh coat of paint on your nails? Search our
                    database of local salons by category. And when you want to save and chill, Spatify makes it easy to
                    search daily deals and book same-day appointments. Spatify – it’s spa on demand!
                </p>
            </div>
        </div>
        <!-- {{!-- title of column 2 --}} -->
        <div class="col s12 m6 l4">
            <div class="col-content">
                <h5>Us</h5>
                <p>
                    We’re a team of web designers and programmers based in Chicago, IL. Our passion for relaxation and
                    desire for deals led us to create an app that pairs open salon appointments and seats with eager
                    customers. Our philosophy is a filled seat is a happy salon! Get seated and get treated with
                    Spatify!
                </p>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="col-content">
                <h5>How to Use</h5>
                <p>
                    Simply choose from our two options – search by Services and search by Current Deals – and you’ll be
                    brought to our salon portal page. Select a salon and pick from our available appointment times.
                    There’s no need to create an account – just supply an email address and we’ll message you your
                    appointment details.
                </p>
            </div>
        </div>
    </div>
</div>