<header>
    <h1>Home Page</h1>
</header>

<button id="services">Services</button>
<button id="deals">Deals</button>

<div>
    {{!-- centered --}}
    <h4>Title</h4>
    {{!-- three columns --}}
    {{!-- title of column 1 --}}
    <h5>The App</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, odio nihil rem sapiente recusandae odit! Debitis
        magnam perspiciatis dolores dolorem magni? Facere culpa pariatur cum ratione accusantium, est iure magnam.</p>
    {{!-- title of column 3 --}}
    <h5>Us</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum ea facilis exercitationem odit laboriosam
        distinctio, iusto ex similique harum nam aut vitae atque explicabo ducimus sequi totam quam hic? Ipsa.</p>

</div>