<header>
    <img class="logo" src="./image/logo.png" alt="spatify-logo" />
</header>
<div class="nav">
    <a href="/services" class="nav-col" id="services">
        <p>search for SERVICES</p>
    </a>
    <a href="/services" class="nav-col" id="deals">
        <p>CURRENT DEALS</p>

    </a>
</div>
<!-- !-- services buttons -- -->
<div class="service-nav">
    <button class="service-button" id="hair">Hair Salon</button>
    <button class="service-button" id="nails">Nails Salon</button>
    <button class="service-button" id="spa">Spa</button>
    <button class="service-button" id="skin">Skin Care</button>
    <button class="service-button" id="massage">Massage</button>
</div>

<!-- !-- search results appears in grid of 3 columns -- -->
<div class="search-result">
    <div class="container">
        <div id="result" class="row">
        </div>
    </div>
</div>