<header>
    <p class="logo">spatify</p>
    <p id="2019">2019</p>
</header>
<div class="nav">
    <a href="services.html" class="nav-col" id="services">
        <p>search for SERVICES</p>
    </a>
    <a href="services.html" class="nav-col" id="deals">
        <p>CURRENT DEALS</p>
        <p></p>
    </a>
</div>
<!-- !-- services buttons -- -->
<div class="service-nav">
    <button class="service-button" id="hair">Hair Salon</button>
    <button class="service-button" id="nails">Nails Salon</button>
    <button class="service-button" id="Spa">Spa</button>
    <button class="service-button" id="skin">Skin Care</button>
    <button class="service-button" id="massage">Massage</button>
</div>

<!-- !-- search results appears in grid of 3 columns -- -->
<div class="search-result">
    <div class="row">
        {{#each search}}
        <div class="col-4"></div>
        {{/each}}
    </div>
</div>