<div class="services-container" {{!-- services buttons --}} <div class="service-buttons">
    <button class="serv-buttons" id="spa">Spa</button>
    <button class="serv-buttons" id="hair">Hair</button>
    <button class="serv-buttons" id="nails">Nails</button>
</div>

{{!-- search results appears in grid of 3 columns --}}
<div class="search-result">
    <p>These are the results of your search!</p>
    <div class="row">
        {{#each data}}
        <div class="col-4">{{name}}</div>
        {{/each}}
    </div>
</div>

{{!-- To print cards on grid: https://stackoverflow.com/questions/26831128/handlebars-js-and-bootstrap-grid-wrap-columns-in-row --}}
</div>