
<header>
    <p class="logo">spatify</p>
    <p id="2019">2019</p>
</header>
<div class="nav">
    <a href="services.html" class="nav-col" id="services">
        <p>search for SERVICES</p>
    </a>
    <a href="services.html" class="nav-col" id="deals">
        <p>CURRENT DEALS</p>
        <p></p>
    </a>
</div>
<!-- !-- services buttons -- -->
<div class="service-buttons">
    <button id="hair">Hair Salon</button>
    <button id="nails">Nails Salon</button>
    <button id="Spa">Spa</button>
    <button id="skin">Skin Care</button>
    <button id="massage">Massage</button>
</div>

<!-- !-- search results appears in grid of 3 columns -- -->
<div class="search-result">
    <div class="container">
        <div class="row">
            {{#each data}}
            <div class="col s12 m6 l4">
                <div class="card text-center">
                    <div class="card-body" style="background-image: url('{{image}}');">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{services}}</p>
                        <a href="#" class="btn btn-primary">placeholder</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>