<div class="services-container" {{!-- services buttons --}} <div class="service-buttons">
    <button class="serv-buttons" id="spa">Spa</button>
    <button class="serv-buttons" id="hair">Hair</button>
    <button class="serv-buttons" id="nails">Nails</button>
</div>

{{!-- search results appears in grid of 3 columns --}}
<div class="search-result">
    <div class="container">
        <div class="row">
            {{#each data}}
            <div class="col s12 m6 l4">
                <div class="card text-center">
                    <div class="card-body" style="background-image: url('{{image}}');">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{services}}</p>
                        <a href="#" class="btn btn-primary">placeholder</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{!-- To print cards on grid: https://stackoverflow.com/questions/26831128/handlebars-js-and-bootstrap-grid-wrap-columns-in-row --}}
</div>