<header>
    <a href="/"><img class="logo" src="./image/logo.png" alt="spatify-logo" /></a>
</header>
<div class="nav">
    <a href="/services" class="nav-col" id="services">
        <p class="main-button">search for SERVICES</p>
    </a>
    <a href="/deals" class="nav-col" id="deals">
        <p class="main-button">CURRENT DEALS</p>


    </a>
</div>
<!-- services buttons -->
<div class="service-nav">
    <button class="service-button" data-name="hair" id="hair">Hair Salon</button>
    <button class="service-button" data-name="nails" id="nails">Nails Salon</button>
    <button class="service-button" data-name="spa" id="Spa">Spa</button>
    <button class="service-button" data-name="skin" id="skin">Skin Care</button>
    <button class="service-button" data-name="massage" id="massage">Massage</button>
</div>

<!-- search results appears in grid of 3 columns -->
<div class="search-result">


    <div class="row center-col">
        <div id="append-here">
        </div>

    </div>

</div>