@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:700|Playfair+Display");

* {
  box-sizing: border-box;
}

/* INDEX, SERVICES, DEALS CSS */
body {
  font-family: "Playfair Display", serif;
  background-color: #fff3e6;
}
header {
  text-align: center;
  height: 150px;
}

#about {
  color: #401406;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.logo {
  margin-top: 25px;
  width: 150px;
}

/* big nav: service & deals */
.nav {
  width: 100%;
  height: 170px;
}
.nav-col {
  float: left;
  width: 50%;
  height: 170px;
  text-align: center;
}
/* -----  */

/* big orange button navigation "services" */
#services {
  font-family: "IBM Plex Serif", serif;
  background-color: #ec9472;
  color: #401406;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
}

#services-active {
  font-family: "IBM Plex Serif", serif;
  background-color: #ec9472;
  border: 3px solid #a0bbbf;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
}

.service-nav {
  width: 100%;
  height: 60px;
  background-color: #ffe4c6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.service-button {
  background-color: #ffe4c6; /* Green */
  border: none;
  color: #401406;
  padding-left: 42px;
  padding-right: 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.center-col {
  display: inline-block;
  margin: 20px;
}

/* big blue deals button */
#deals {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  background-color: #a0bbbf;
  color: #401406;
  /* margin-top: 40px; */
  font-size: 50px;
  font-weight: 700;
  /* line-height: 55px; */
}

/* about column content */
.about {
  margin-top: 40px;
}
.col-content {
  padding: 20px 30px 20px 30px;
  background-color: #ddc8bb;
  color: #401406;
  width: 350px;
  height: 400px;
  margin: 30px;
  border-radius: 10px;
}

h5 {
  font-weight: 600;
}

.card {
  box-shadow: none !important;
  margin: 20px;
}

.click-form {
  border: none;
  color: #401406;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  background-color: #ec9472;
}

/* FORMS CSS */
/* time row in form */
.form-style {
  margin-top: 50px;
}

.time {
  border: none;
  color: #401406;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  background-color: #a0bbbf;
  border-radius: 5px;
  margin: 2px;
}

.time:hover {
  background-color: #ec9472;
}

.active {
  background-color: #00dfcf;
}

.picker__box {
  background-color: #fff3e6;
}

.input-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.service-button:hover {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
}

.service-button:active {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  text-decoration: underline;
}

.form-style {
  width: 100%;
  background-color: #ffe4c6;
  padding: 30px;
  border-radius: 10px;
}

#spa-name {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-size: 50px;
}

.submit {
  border: none;
  color: #ffe4c6;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  background-color: #304020;
  border-radius: 5px;
  margin-right: 10px;
}

p {
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .main-button {
    padding-top: 5%;
  }
}
